<div class="row">
  <h2>About</h2><hr><br>
  <div class="col-md-6">
    <img class="picture" src="/assets/picture.jpg" />
  </div>
  <div class="col-md-6">
    <p>The rapid rise of technology is dramatically affecting how people learn, work, and function in their everyday lives. These developments are occurring in a relatively brief amount of time as it relates to historical perspective. The World Wide Web celebrated the 25th anniversary of its founding in March 2014. Facebook celebrated its 10th anniversary the month before. Twitter is eight years old. Instagram is not yet four.

    </p>

    <p>John Monberg conducts engaged research that addresses the impact of technology in society. This includes new media and public deliberation, globalization and the creative economy, and practices of research design.

    </p>
  </div>
</div>
