<% content_for(:title, "Add New Project") %>

<% content_for(:navbar) do %>
<ul class="nav navbar-nav">
  <li class="active"><%= link_to "Home", categories_path %></li>
  <li><%= link_to "Add New Language", new_category_path %></li>
</ul>
<% end %>
<h1>New project for <%= @category.name %></h1>

<%= render 'form' %>
