<h2>Blog</h2>
<% if @posts.any? %>
  <hr>
  <% @posts.each do |post| %>
    <div class="post_wrapper">
      <h3 class="title"><%= link_to post.title, post %></h3>

      <p class="accent"><em><%= post.created_at.strftime("%B %d, %Y") %></em></p>
      <p class="accent-medium"><%= post.comments.length %> comments</p>
    </div>
  <hr>
  <% end %>

<% else %>

  <p>
    It looks like there are no blog posts.
  </p>

<% end %>
