<% if @posts.any? %>
  <hr>
  <% @posts.each do |post| %>
    <div class="post_wrapper">
      <h2 class="title"><%= link_to post.title, post %></h2>
      <p class="date"><em><%= post.created_at.strftime("%B %d, %Y") %></em></p>
    </div>
  <hr>
  <% end %>

<% else %>

  <p>
    It looks like there are no blog posts.
  </p>

<% end %>
