
@import "bootstrap-sprockets"
@import "bootstrap"


$color-primary-0: #8D80B7	// Main Primary color */
$color-primary-1: #CDC7E1
$color-primary-2: #AEA4CE
$color-primary-3: #7060A3
$color-primary-4: #56458E

$color-secondary-1-0: #E798B0	// Main Secondary color (1) */
$color-secondary-1-1: #F5D4DE
$color-secondary-1-2: #EEB7C8
$color-secondary-1-3: #D37290
$color-secondary-1-4: #B94D6E

$color-secondary-2-0: #78B79C	// Main Secondary color (2) */
$color-secondary-2-1: #C3E1D4
$color-secondary-2-2: #9ECDB9
$color-secondary-2-3: #58A282
$color-secondary-2-4: #3B8E6A

body
  padding: 45px
  background-color: $color-secondary-2-0
